#myelement{
    text-align: center;
    color: black;
    margin: 30px;
    font-weight: bold;
    font-size: 3.0em;
}
#firstpara{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding-top:20px ;
}
.button{
    text-decoration: none;
    border:2px solid blue;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    
}
.button:hover{
    background-color: blue;
    color:white;
}
#about{
    background-color: blue;
    color:white;
    padding: 20px; 
            position: relative;
            height: 80%; 
            
}
h2{
    margin-top:40px;
    text-align: center;
    font-weight: bold;
    
}
.textstyle{
    margin-left: 200px;
    margin-right: 200px;
    margin-top:45px;
    margin-bottom:50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:10%;

  
}
.second-div {
    position: absolute; /* Set absolute positioning */
    width: 80%;
    
    top: 75%; /* Position 3/4th down from the top of the first div */
    left: 50%;
    transform: translateX(-50%); /* Adjust for centering */
     display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
     color:black;
     border-radius:25px;
    background-color: #fff;
    padding: 20px;
}

.list{
    list-style-type: none;
}

.column-content {
    padding: 10px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 8px;
}
img{
    padding-bottom: 10%;
    padding-top: 5%;
}
.para{
    padding-top:5%;
}
.para2{
    padding-top: 26%;
    text-align: center;
    padding-bottom: 4%;
    color:rgb(21, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    max-width: 400px;
    margin: 0 auto;
    color: white;
   
}
form button{
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color:rgb(231, 215, 215);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

}

button:hover {
    background-color: rgb(231, 215, 215);
}
.formcontainer{
    background-color:burlywood;
    max-width: 1150px;
    margin-top: 60%;
    margin: 0 auto;
    border-radius: 15px
}
.sectionbg{
    
    margin-top: 5%;
}
.divmargin{
    margin-top: 30%;
    background-color:cadetblue;
    max-width: 400px;
    margin: 0 auto;
    
}